.keyword-popover-keyword {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: orange;
  font-weight: bold;
}

.keyword-popover {
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  width:300px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  transform: rotate(-2deg);
  color: black;
  font-weight: normal;
}

.keyword-popover-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.keyword-popover-content {
  max-height: 200px;
  overflow-y: auto;
}
