@supports (animation-timeline: view()) {
  .skillcard {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    position: sticky;
    @media (max-width: 500px) {
      top:100px;
    }
    top: 130px;
    padding-top: calc(var(--index) * var(--card-top-offset)); /* stack top padding */
    //padding-top: 2em;
    margin: 0;
  }

  @keyframes scale {
    to {
      transform:
        scale(calc(1.1 - calc(0.07 * var(--reverse-index))));
    }
  }

  #skillcards {
    --numcards: 4;
    --card-top-offset: 2em;
    --card-margin: 0vw; /* separation between cards */
    --card-height: 200px;
    @media (max-width: 820px) {
      --card-height: 300px;
    }
    

    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));

    gap: var(--card-margin);
    view-timeline-name: --cards-element-scrolls-in-body;
    //padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    padding-bottom: 50px !important;
    margin-bottom: var(--card-margin);
    list-style: none;
    display: grid;
  }

  .skill-card__content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);

    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    border: 2px solid black;
    transform-origin: 50% 0%;
	  will-change: transform;
    text-align: left;

    display:flex;
    flex-direction: row;
    margin: 20px;
  }

  .skill-card-text {
    padding: 20px;
    width: 100%;
  }

  #card_1 {
    --index:1;
  }
  #card_2 {
    --index:2;
  }
  #card_3 {
    --index:3;
  }
  #card_4 {
    --index:4;
  }
}

.skill-logo {
  max-width: 100px;
  //max-height: 128px;
  fill:teal;
  padding: 0;
  margin: 0;
  align-items: center;
}


.studies_sticky {
  top: 50px;
  position: sticky;
  @media (max-width: 500px) {
    top:1px;
  }
  // padding-top: var(--section-vertical-padding);
}

.studies {
  --studies-gap: min(4.5vh, 3rem);
  padding-block: var(--section-vertical-padding);
  z-index: 2;
  position: relative;
  color: var(--clr-neutral-900);
  background: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));
  background-color: white;
  padding-top:0;
  h2 {
    position: relative;
    margin-bottom: var(--about-gap);
    color: var(--clr-neutral-900);
    text-shadow: 
    -1px 1px 6px var(--clr-neutral-400),
    1px 1px 6px var(--clr-neutral-400);

    &::after {
      content: '';
      position: absolute;
      top: 70%;
      left: 4.3ch;
      width: 3.2ch;
      height: 0.45ch;
      z-index: -1;
      background: var(--clr-primary-100);
      animation: pulseSkewScale infinite 1s ease-in-out;
    }
  }
}

.studies__title {
  position: relative;
  margin-bottom: var(--about-gap);
  color: var(--clr-neutral-900);
  text-shadow: 
  -1px 1px 6px var(--clr-neutral-400),
  1px 1px 6px var(--clr-neutral-400);

  &::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 6.0ch !important;
    width: 4.2ch !important;
    height: 0.45ch;
    z-index: -1;
    background: var(--clr-primary-100);
    animation: pulseSkewScale infinite 1s ease-in-out;
  }
}

.w200 {
  width:200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
}