.portfolio {
  position: relative;
  z-index: 2;
  display: grid;
  place-items: center;

  // offset padding-top to accommodate for the wavy separator
  padding-block: calc(var(--section-vertical-padding) * 2) var(--section-vertical-padding);
  // padding-block-end: 0px;

  background: teal;
  color: var(--clr-neutral-200);

  &__title {
    position: relative;

    margin-bottom: min(3.5vw, 3rem);
    padding: 1rem;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 6px #000,
        1px 1px 6px #000;
    color: var(--clr-neutral-100);

    opacity: 0;
    transform: translateX(-30%);

    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translateX(0);
    }

    &::after {
      content: '';
      position: absolute;
      top: 65%;
      left: 3.1ch;

      width: 5ch;
      height: 0.45ch;
      z-index: -1;
      background: var(--clr-primary-100);

      animation: pulseSkewScale infinite 1s ease-in-out;
    }
  }

  &__view-more {
    display: grid;
    place-items: center;

    margin-top: 2rem;

    background: none;
    border: 0;

    cursor: pointer;
    

    svg {
      width: min(40px, 5vw);
      border-radius: 1.2rem;
      padding: min(0.5rem, 3vw);

      //fill: var(--clr-neutral-500);
      fill: orange;
      background: var(--clr-neutral-800);

      animation: pulseScale 1.25s infinite;
    }

    &-label {
      margin-block: 0.75rem;
      color: var(--clr-neutral-500);
      color: black;
      // TODO above - fix variable
      font-size: var(--fs-responsive-small);
    }
  }

  &__extra-projects {
    margin-top: 3vh;
  }
}
.portfolio__additional-projects {
  display: flex;
  align-items: end; /* Vertically center the content */
  justify-content: space-between; /* Add space between the items */
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 6px #000,
  1px 1px 6px #000;
color: var(--clr-neutral-100);
}
.portfolio__additional-projects-title {
  text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 6px #000,
        1px 1px 6px #000;
    color: var(--clr-neutral-100);
}

.extraprojects-wrapper {
  transition: max-height 0.8s ease-in-out;
  //transition: display 0.8s ease-in-out;
  max-height: 0;
  padding-left: 60px;
  padding-right: 60px;

  // BUG - wrapper isn't going to full width - or at least full width as we expect in first version of project list - should we just put extra projects in their own 'section'?
  width: 100%;
  //background: yellow;
  //display: visible;

  // TODO below border is just testing purposes - but perhaps a decent looking border could be applied?
  border: 1px inset orange;
  overflow: hidden; // BUG this blocks some extra project info in the title - the # to the left and on the R the tooltip
  //overflow-y: hidden;
  //overflow-x: visible;

}
.nowopen {
  max-height: 1000px; /* Adjust to your required  max height */
 // display: visible;
  //max-height: max-content;
}
.closed {
  max-height: 0px;
 // display: none;
}

.custom-shape-divider-top-1681930915 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  // translateY: fix gap that appears on random viewport sizes
  transform: rotate(180deg) translateY(1px);
}

.custom-shape-divider-top-1681930915 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: var(--section-separator-height);
}

.custom-shape-divider-top-1681930915 .shape-fill {
  fill: var(--clr-about-bg-bottom);
}
