.cert-display-subject {
  // white-space: nowrap;
  // white-space: normal;
  // border: 1px solid red;
  padding: 2px;
  
  &:hover {
    background-color: beige;
    border-radius: 4px;
  }
}

.cert-subject-wrapper {
  max-width: 600px;
  // overflow: hidden;
  // border: 2px solid blue;
  // white-space: nowrap;
}

.cert-row {
  padding: 2px;

  &:hover {
    background-color: bisque;
    border-radius: 4px;
  }
}