.about {
  --about-gap: min(4.5vh, 3rem);
  
  position: relative;
  // padding-block: var(--section-vertical-padding);
  z-index: 2;
  //color: var(--clr-neutral-900);
  background-image: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));
  //background-image: linear-gradient(red,yellow);
  //background-color: rgb(172, 138, 138);
  h2 {
    position: relative;
    
    margin-bottom: var(--about-gap);
    
    color: var(--clr-neutral-900);

    text-shadow: 
        -1px 1px 6px var(--clr-neutral-400),
        1px 1px 6px var(--clr-neutral-400);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 70%;
      left: 4.6ch;
      width: 2ch;
      height: 0.45ch;
      background: var(--clr-primary-100);
      animation: pulseSkewScale infinite 1s ease-in-out;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: var(--about-gap);

    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }
  }

  h3 {
    font-size: clamp(2rem, 8vw, 3rem);
  }

  &__text {
    z-index: 5;
    opacity: 0;
    transform: translateY(30%);

    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      position: relative;
      
      margin-bottom: var(--about-gap);

      color: var(--clr-neutral-900);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4.6ch;
        width: 2ch;
        //height: 0.55ch;
        background: var(--clr-primary-100);
        animation: pulseSkewScale infinite 1s ease-in-out;
      }
    }
    big {
      font-size: clamp(2.0rem, 3.15vw, 1.1rem);
      font-weight: bold;
    }
    p {
      font-size: clamp(0.9rem, 3.15vw, 1.1rem);
      line-height: 1.8;
      margin-bottom: 1rem;
    }

    a,
    a:visited,
    a:active {
      color: var(--clr-primary-200);
      font-weight: var(--fw-bold);
    }
  }

  &__skills {
    opacity: 0;
    transform: translateY(-30%);

    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__skills-title {
    margin-bottom: var(--about-gap);
  }

  &__skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 1rem;
  }

  &__skill {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem;

    color: var(--clr-neutral-700);
    background: var(--clr-neutral-300);
    border-radius: var(--border-radius-100);

    filter: grayscale(100%) contrast(1);

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px) scale(1.25);
      filter: grayscale(0%);

      color: var(--clr-neutral-100);
      background: var(--clr-neutral-800);
    }

    svg {
      width: 28px;
      aspect-ratio: 1/1;
    }

    p {
      padding-right: 0.75rem;

      font-weight: var(--fw-bold);
      font-size: 0.95rem;
    }
  }
}

.rotate3r {
  transform: rotate(4deg);
  transition: all 0.3s ease-in-out;
}
.rotate3l {
  transform: rotate(-4deg);
  transition: all 0.3s ease-in-out;
}

.greyscale {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  position: relative;
	left: -25px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 440px;
	-webkit-border-radius: 440px;
	z-index: 10;
}




.aboutimg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 480px;
	-webkit-border-radius: 480px;
	z-index: 10;
}

.circle.circle {
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.circle.circle-1 {
	width: 440px;
	height: 440px;
	z-index: 2;
	background: orange;
  background: linear-gradient(0deg, rgba(0,159,159,1) 0%, rgba(255,116,0,1) 77%);
	border-radius: 100%;
  border: 2px solid black;
	-webkit-border-radius: 100%;
}

.circle.img-1 {
	top: 25px;
	right: 35px;
	left: auto;
	width: 226px;
	height: 226px;
}

.circle.img-2 {
	bottom: 50px;
	right: auto;
	top: auto;
	left: -60px;
	width: 141px;
	height: 141px;
}

.circle.img-3 {
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	width: 141px;
	height: 141px;
}


.section.hero-started .info-list {
	position: absolute;
	top: 210px;
	left: -195px;
	z-index: 12;
}

.section.hero-started .info-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section.hero-started .info-list ul li {
	margin: 0;
	display: flex;
	align-items: center;
	color: #000;
	border: 2px solid #000;
	background-color: #fff;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	height: 82px;
	border-radius: 82px;
	-webkit-border-radius: 82px;
	width: 250px;
	padding: 0 20px;
  transition: transform background-color 0.3s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    // TODO change to variable
    background-color: teal;
    transition: background-color 0.3s ease-in-out;
  }
}

.section.hero-started .info-list ul li:nth-child(1) {
	margin: 160px 0 0 180px;
}

.section.hero-started .info-list ul li:nth-child(2) {
	margin: -30px 0 0 420px;
}

.section.hero-started .info-list ul li .num {
	display: block;
	font-size: 37px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	width: 50%;
	text-align: center;
}

.section.hero-started .info-list ul li .num strong {
	position: relative;
	top: -4px;
}

.section.hero-started .info-list ul li .value {
	display: block;
	width: 50%;
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.section.hero-started .subtitle strong,
.section.hero-started .title strong,
.section.hero-started .info-list ul li strong,
.section.hero-started .subtitle b,
.section.hero-started .title b,
.section.hero-started .info-list ul li b {
  // bold text color here:
	color: var(--myorange);
}

.about-header-wrapper {
  // position: relative;
  // width: 100%;
  // height: 109px;
}
.about-custom-shape-divider-top-1681930915 {
  position: absolute;
  transform: translateY(70%);
  top: 0;
  left: 0;
  width: 100%;
  // height: 1080px;
  //height: 222px;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  //display: block;
  //background-color: rgb(6, 51, 186);
  // translateY: fix gap that appears on random viewport sizes
 //transform: rotate(180deg) translateY(1px);
  // position: relative;
  display: block;
  // width: calc(100% + 1.3px);
  // height: var(--section-separator-height);
}

.about-custom-shape-divider-top-1681930915 svg {
  // position: relative;
  display: block;
  width: calc(100% + 1.3px);
  //height: var(--section-separator-height);
  // height: 1080px;
  //height:109px;
}

.about-custom-shape-divider-top-1681930915 .about-shape-fill {
  fill: var(--clr-about-bg-bottom);
  fill: rgb(251, 255, 0)
  //fill-opacity: 0.5;
}


