//
// Aboutimage CSS
// (some split out elsehwere - this file for responsive design)
//

// TODO - strip down this file to only what's needed!

/**
* Responsive
**/

.photo-scaling {
  transform: scale(0.5);
  transform-style: preserve-3d;
  transition: transform 0.4s;
  padding-top:500px;
  position: relative;
}

.hideitems {
  opacity: 0;
}
.showitems {
  opacity: 1;
}

.about-photo {
  opacity:0;
}

@media screen and (max-width: 1024px) {
  .photo-scaling {
    transform: scale(0.5);
    padding-top: 500px;
  }
	/*base*/
	.cursor {
		display: none;
	}
	.preloader:before {
		left: -25%;
		width: 150%;
	}
	.m-titles .m-title {
    margin-bottom: 10px;
    font-size: 34px;
	}
	.m-titles .m-subtitle strong, .m-titles .m-subtitle b {
		font-size: 24px;
	}
	.section.section-inner.started-heading {
		padding-top: 170px;
		padding-bottom: 70px;
	}
	.section.section-inner.started-heading .m-titles .m-title {
		font-size: 44px;
	}
	.section.section-inner.m-archive {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.v-line-block {
		display: none;
	}

	/*header*/
	.admin-bar .header.sticky {
		top: 0;
	}
	.menu-full ul li > ul {
		padding: 0 20px;
	}
	.menu-full ul li.opened > ul {
		padding: 20px;
	}
	.menu-full ul li ul li ul {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header .header__builder > .row {
		justify-content: space-between;
		align-items: center;
	}
	.header .header__builder > .row > div {
		width: auto;
	}

	/*footer*/
	.footer {
		padding-left: 0;
		padding-right: 0;
	}

	/*hero started*/
	.section.hero-started .content {
		padding-top: 140px;
		text-align: center;
	}
	.section.hero-started .titles {
		margin-bottom: 760px;
		max-width: 100%;
	}
	.section.hero-started .title {
		font-size: 64px;
	}
	.section.hero-started .slide {
		margin-left: -340px;
		bottom: auto;
		top: 740px;
		right: auto;
		left: 50%;
		transform: scale(0.9);
		transform-origin: top center;
	}
	.section.hero-started .description {
		margin: 0 auto;
	}

	/*resume*/
	.skills-item {
		margin-top: 60px;
		margin-bottom: 0;
	}

	/*works*/
	.works-box {
		margin-left: 0;
		margin-right: 0;
	}
	.works-items.works-list-items {
    margin-top: -60px;
	}
	.works-items.works-list-items .works-item {
		margin-top: 60px;
	}
	.works-items.works-list-items .works-item .image {
		width: 45%;
	}
	.works-items.works-list-items .works-item .desc {
		margin-left: 55%;
	}
	.works-items.works-masonry-items .works-col {
		width: 50%;
		flex: 0 0 50%;
	}
	.filter-links {
		margin: 0 0 30px 0;
	}

	/*work single*/
	.m-details {
		margin-left: -50px;
	}
	.m-details .details-label {
		margin-left: 50px;
		margin-bottom: 30px;
	}
	.m-details .details-label > span {
		font-size: 24px;
	}
	.m-page-navigation, .section.section-inner.m-page-navigation {
		padding: 60px 0;
	}

	/*video-large*/
	.section.m-video-large .video {
		height: 360px;
	}
	.m-image-large .image {
		height: 460px;
	}
	.m-video-large .video {
		height: 460px;
	}
	.offset-1 {
		margin-left: 0;
	}

	/*sidebar*/
	.col__sedebar {
		margin-left: 0;
		padding-top: 75px;
	}
	.col__sedebar .content-sidebar {
		border-left: none;
	}
	.content-sidebar .widget {
		padding: 25px 0;
	}
	.section.m-page-navigation .h-title {
		margin-bottom: 0;
	}
	.section.m-page-navigation .h-title {
		font-size: 70px;
		line-height: 80px;
	}
	.menu-btn.default-menu-btn {
		display: block;
	}
	.nav-menu-horizontal {
		display: none;
	}
	.blog-items .col-xs-12:last-child {
		display: none;
	}
	.load-more, .load-more-link {
		margin-top: 50px;
	}
	.numbers-items {
		font-size: 0;
	}
	.numbers-item {
		padding-left: 120px;
		width: 50%;
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
	}

	.menu-full-overlay .v-line-block {
		display: block;
		left: 110px;
		top: -60px;
		bottom: -70px;
	}
	.menu-social-links {
		margin-left: 140px;
		margin-top: 30px;
	}
	.menu-full {
		padding: 0 0 0 140px;
	}
	.elementor-default .menu-full-overlay .v-line-block {
		top: 0;
	}
	.elementor-default div.menu-full {
		padding: 80px 0 40px 140px;
	}
}

