

.about-rightcol-top {
  display: flex;
  align-items: flex-start;
  //max-width: 300px;
}


.photo-scaling {
  transform: scale(1.0);
  transition: transform 0.4s;
  //padding-top:500px;
  position: relative;
}



@media screen and (max-width: 1024px) {
  .photo-scaling {
    // transform: scale(1.0);
    // padding-top:600px;
    position: relative;
  }
}




.section.about-started {
	position: relative;
}

.section.about-started .slide {
	//margin-top: -450px;
	// position: absolute;
	//top: 50%;
	// right: -20px;
	//width: 680px;
	//height: 800px;
  width: 453px;
	height: 533px;
  
	z-index: 2;
}


// @media screen and (min-width: 1700px) {
// 	.section.about-started .slide {
// 		margin-top: -400px;
// 		right: -50px;
// 	}
// }

// @media (max-width: 1024px) {
//   .section.about-started .slide {
// 		top: 380px;
// 		//transform: scale(0.8);
// 	}
// }

.section.about-started .slide img {
	position: absolute;
	left: -40px;
	top: 52px;
	width: 90%;
	height: 90%;
	object-fit: cover;
	border-radius: 800px;
	-webkit-border-radius: 800px;
	z-index: 10;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.section.about-started .slide .circle {
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.section.about-started .slide .circle.circle-1 {
  position: absolute;
	width: 400px;
	height: 400px;
	z-index: 2;
	background: var(--myorange);
  background: linear-gradient(0deg, rgba(0,159,159,1) 0%, rgba(255,116,0,1) 77%);
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.section.about-started .slide .circle.img-1 {
	top: 75px;
	right: 125px;
	left: auto;
	width: 226px;
	height: 226px;
}

.section.about-started .slide .circle.img-2 {
	bottom: 50px;
	right: auto;
	top: auto;
	left: -60px;
	width: 141px;
	height: 141px;
}

.section.about-started .slide .circle.img-3 {
	bottom: 10px;
	right: 100px;
	top: auto;
	left: auto;
	width: 141px;
	height: 141px;
}

.section.about-started .content {
	padding-top: 40px;
	position: relative;
}

@media screen and (min-width: 1700px) {
	.section.about-started .content {
		padding-top: 20px;
	}
}

.section.about-started .info-list {
	position: absolute;
	top: 420px;
	left: -125px;
	z-index: 12;
}

.section.about-started .info-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section.about-started .info-list ul li {
	margin: 0;
	display: flex;
	align-items: center;
	color: #000;
	border: 2px solid #000;
	background-color: #fff;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	height: 82px;
	border-radius: 82px;
	-webkit-border-radius: 82px;
	width: 250px;
	padding: 0 20px;
  transition: transform background-color 0.3s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    // TODO change to variable
    background-color: teal;
    transition: background-color 0.3s ease-in-out;
  }
}

.section.about-started .info-list ul li:nth-child(1) {
	margin: 160px 0 0 100px;
}

.section.about-started .info-list ul li:nth-child(2) {
	margin: -30px 0 0 520px;
}

.section.about-started .info-list ul li .num {
	display: block;
	font-size: 37px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	width: 50%;
	text-align: center;
}

.section.about-started .info-list ul li .num strong {
	position: relative;
	top: -4px;
}

.section.about-started .info-list ul li .value {
	display: block;
	width: 50%;
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

/**
* Responsive
**/


@media screen and (max-width: 1024px) {

	.section.about-started .slide {
		top: 380px;
		transform: scale(0.7);
    padding: 0px;
	}
}

