.about {
  --about-gap: min(4.5vh, 3rem);
  
  position: relative;
  // padding-block: var(--section-vertical-padding);
  //padding-top: var(--section-vertical-padding);
  padding-top: 0px;
  z-index: 2;
  //color: var(--clr-neutral-900);
  background-image: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));
  //background-image: linear-gradient(red,yellow);
  //background-color: rgb(172, 138, 138);
  h2 {
    position: relative;
    
    // margin-bottom: var(--about-gap);
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--clr-neutral-900);

    text-shadow: 
        -1px 1px 6px var(--clr-neutral-400),
        1px 1px 6px var(--clr-neutral-400);

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 70%;
      left: 4.6ch;
      width: 2ch;
      height: 0.45ch;
      background: var(--clr-primary-100);
      animation: pulseSkewScale infinite 1s ease-in-out;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: var(--about-gap);

    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }
  }

  h3 {
    font-size: clamp(2rem, 8vw, 3rem);
  }

  &__text {
    z-index: 5;
    opacity: 0;
    transform: translateY(30%);
    padding-top: 1rem;
    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      position: relative;
      
      margin-bottom: var(--about-gap);

      color: var(--clr-neutral-900);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 4.6ch;
        width: 2ch;
        //height: 0.55ch;
        background: var(--clr-primary-100);
        animation: pulseSkewScale infinite 1s ease-in-out;
      }
    }
    big {
      font-size: clamp(2.0rem, 3.15vw, 1.1rem);
      font-weight: bold;
    }
    p {
      font-size: clamp(0.9rem, 3.15vw, 1.1rem);
      line-height: 1.8;
      margin-bottom: 1rem;
    }

    a,
    a:visited,
    a:active {
      color: var(--clr-primary-200);
      font-weight: var(--fw-bold);
    }
  }

  &__skills {
    opacity: 0;
    transform: translateY(-30%);

    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__skills-title {
    margin-bottom: var(--about-gap);
  }

  &__skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 1rem;
  }

  &__skill {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem;

    color: var(--clr-neutral-700);
    background: var(--clr-neutral-300);
    border-radius: var(--border-radius-100);

    filter: grayscale(100%) contrast(1);

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px) scale(1.25);
      filter: grayscale(0%);

      color: var(--clr-neutral-100);
      background: var(--clr-neutral-800);
    }

    svg {
      width: 28px;
      aspect-ratio: 1/1;
    }

    p {
      padding-right: 0.75rem;

      font-weight: var(--fw-bold);
      font-size: 0.95rem;
    }
  }
}
.opie{
  opacity:1 !important;
}
.rotate3r {
  transform: rotate(4deg);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.rotate3l {
  transform: rotate(-4deg);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.greyscale {
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  // position: relative !important;
	// left: -25px;
  // //left: 0;
	// top: 0px;
	// width: 100%;
	// height: 100%;
	// object-fit: cover;
	// border-radius: 440px;
	// -webkit-border-radius: 440px;
	// z-index: 10;
}

.aboutimg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 380px;
	-webkit-border-radius: 380px;
	z-index: 10;
}

.circle.circle {
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
  opacity: 0;
}

.circle.img-1 {
	top: 25px;
	right: 35px;
	left: auto;
	width: 226px;
	height: 226px;
  opacity: 0;
}

.circle.img-2 {
	bottom: 50px;
	right: auto;
	top: auto;
	left: -60px;
	width: 141px;
	height: 141px;
  opacity: 0;
}

.circle.img-3 {
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	width: 141px;
	height: 141px;
  opacity: 0;
}

.about-header-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  top: -280px;
  overflow: hidden;
  padding-top:160px;
  // background-color: red;
  // height: 109px;

  border: 2px solid blue;
}

.about__wrapper {
  top: -180px;
  position: relative;
}

.custom-shape-divider-bottom-1694044314 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 3;
  
  border: 2px solid red;
}
.custom-shape-divider-bottom-1694044314b {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 90%;
  height: auto;
  line-height: 0;
  //transform-origin: top left;
  transform: rotate(187deg);
  z-index: -1;

  border: 2px solid green;
}

.custom-shape-divider-bottom-1694044314 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 146px;
  border-radius: 0%;
}
.custom-shape-divider-bottom-1694044314b svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 146px;
  border-radius: 0%;
}

.custom-shape-divider-bottom-1694044314 .shape-fill {
  fill: var(--clr-about-bg-top);
  //fill: blue;
}
.shape-fillb {
  //fill:#00000080;
  fill:#04323299;
}
.whiteout {
  position: relative;
  //border: 2px solid yellow;
  //background-color: yellow;
  background-color: var(--clr-about-bg-top);
  z-index: 5;
  height: 111px;
}