
// TODO - strip down this file to only what's needed!


/**
* Section about Started
**/


.section.about-started {
	position: relative;
}

.section.about-started .slide {
	margin-top: -390px;
	position: absolute;
	top: 50%;
	right: -20px;
	width: 680px;
	height: 800px;
	z-index: 2;
}


@media screen and (min-width: 1700px) {
	.section.about-started .slide {
		margin-top: -400px;
		right: -50px;
	}
}

.section.about-started .slide img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 380px;
	-webkit-border-radius: 380px;
	z-index: 10;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.section.about-started .slide .circle {
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

// .section.about-started .slide .circle.circle-1 {
.circle-1 {
	width: 680px;
	height: 680px;
	z-index: 2;
	//background: var(--myorange);
  
	border-radius: 100%;
	-webkit-border-radius: 100%;
  	border: 2px solid black;
  
  	background: linear-gradient(0deg, tomato 0%, orange 77%);
	transition: all 1s ease-in-out;
}

.section.about-started .slide .circle.img-1 {
	top: 25px;
	right: 35px;
	left: auto;
	width: 226px;
	height: 226px;
}

.section.about-started .slide .circle.img-2 {
	bottom: 50px;
	right: auto;
	top: auto;
	left: -60px;
	width: 141px;
	height: 141px;
}

.section.about-started .slide .circle.img-3 {
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	width: 141px;
	height: 141px;
}

.section.about-started .content {
	padding-top: 40px;
	position: relative;
}

@media screen and (min-width: 1700px) {
	.section.about-started .content {
		padding-top: 20px;
	}
}

.section.about-started .titles {
	max-width: 640px;
	z-index: 3;
}

.section.about-started .title {
	font-family: "Jost";
	font-size: 90px;
	line-height: 1.2;
	color: #FFF;
	font-weight: 700;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.section.about-started .lui-subtitle {
	font-size: 15px;
}

.section.about-started .label strong,
.section.about-started .label b {
	font-family: 'Caveat';
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;
	margin-left: 10px;
	color: #000;
}

.section.about-started .description {
	padding: 40px 0 40px 0;
	font-size: 18px;
	max-width: 520px;
}

.section.about-started .description p {
	margin: 0;
	opacity: 0.8;
}

.section.about-started .bts {
	font-size: 0;
}

.section.about-started .social-links {
	margin-top: 30px;
	line-height: 1;
}

.section.about-started .info-list {
	position: absolute;
	top: 420px;
	left: -125px;
	z-index: 12;
}

.section.about-started .info-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section.about-started .info-list ul li {
	margin: 0;
	display: flex;
	align-items: center;
	color: #000;
	border: 2px solid #000;
	background-color: #fff;
	// box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: var(--box-shadow-full);
	height: 111px;
	border-radius: 82px;
	-webkit-border-radius: 82px;
	width: 360px;
	padding: 0 20px;
  // TODO change color to variable
  background-color: white;
  transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
      
  &:hover {
    background-color: teal;
  }
}

.section.about-started .info-list ul li:nth-child(1) {
	margin: 160px 0 0 100px;
}

.section.about-started .info-list ul li:nth-child(2) {
	margin: -60px 0 0 460px;
}

.section.about-started .info-list ul li .num {
	display: block;
	font-size: 58px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	width: 50%;
	text-align: center;
  color:orange;
}

.section.about-started .info-list ul li .num strong {
	position: relative;
	top: -4px;
}

.section.about-started .info-list ul li .value {
	display: block;
	width: 50%;
	text-align: left;
	font-size: 23px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

/**
* Responsive
**/



@media screen and (max-width: 1024px) {
	/*base*/
	.cursor {
		display: none;
	}
	.preloader:before {
		left: -25%;
		width: 150%;
	}
	.m-titles .m-title {
    margin-bottom: 10px;
    font-size: 34px;
	}
	.m-titles .m-subtitle strong, .m-titles .m-subtitle b {
		font-size: 24px;
	}
	.section.section-inner.started-heading {
		padding-top: 170px;
		padding-bottom: 70px;
	}
	.section.section-inner.started-heading .m-titles .m-title {
		font-size: 44px;
	}
	.section.section-inner.m-archive {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.v-line-block {
		display: none;
	}



	/*about started*/
	.section.about-started .content {
		padding-top: 140px;
		text-align: center;
	}
	.section.about-started .titles {
		margin-bottom: 760px;
		max-width: 100%;
	}
	.section.about-started .title {
		font-size: 64px;
	}
	.section.about-started .slide {
		margin-left: -340px;
		bottom: auto;
		top: 140px;
		right: auto;
		left: 50%;
		transform: scale(0.9);
		transform-origin: top center;
	}
	.section.about-started .description {
		margin: 0 auto;
	}
}



