//
//
//

// TODO setup vars for anythign specific - including time delay

.button-container {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: center; /* Horizontally center items */
  gap: 5px; /* Adjust the gap between text and arrow */
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-text {
  //
}

.collapse-button {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.collapse-button:hover {
  background-color: teal;
}

.collapse-arrows {
  fill: black;
  height: 24px;
  width: 24px;
}
.collapse-arrows:hover {
  fill: white;
}

.collapsible-section {
  width: 100%;
  overflow: hidden;
}

.collapsible-wrapper.open {
  max-height: 1000px; /* Adjust this value based on your content's size */
}
.collapsible-wrapper.closed {
  //
}
.collapsible-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
}
