//
//
//

// TODO setup vars for anythign specific - including time delay

.button-container {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: center; /* Horizontally center items */
  gap: 5px; /* Adjust the gap between text and arrow */
  // padding: 5px;
  // padding-left: 10px;
  padding-right: 10px;
}

.button-text {
  //
}

.collapse-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 1rem;
  font: inherit;
  color: black; /* or your desired link color */
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration 0.2s ease-in-out;
  text-transform: uppercase;
  // padding: 0px;
  // margin: 0px;
  // margin-bottom: 10px;
  transition: transform 0.2s ease;
  position: relative; /* Add relative positioning */
  transition: color 0.3s; /* Keep the color transition */
  
  &:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    max-width: calc(100% - 38px);
    height: 3px; /* Set the height of the underline */
    background-color: transparent; /* Make it transparent by default */
    transition: background-color 0.3s; /* Add transition for the background color */
  }
  &:hover {
    //color: #ff6600;
  }

  /* Change the background color of the reserved space on hover */
  &:hover:before {
    background-color: #ff6600;
  }
}

.collapse-button:hover {
  background-color: teal;
}

.collapse-arrows {
  fill: black;
  height: 15px;
  width: 15px;
}
.collapse-arrows:hover {
  fill: #ff6600;
}

.collapsible-section {
  width: 100%;
  overflow: hidden;
}

.collapsible-wrapper.open {
  max-height: 1000px; /* Adjust this value based on your content's size */
  padding-top: 1rem;
  // padding-left: 1rem;
  // padding-right:1rem;
  margin-bottom: 1rem;
  border: 2px solid #005F60;
  // border: 1px solid black;
  // border-radius: 1rem;
  // padding: 1rem;
}
.collapsible-wrapper.closed {
  //
  // padding: 0;
  background-color: transparent !important;
  border: 2px solid transparent;
}
.collapsible-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  border: 2px solid transparent;
}
