.carousel {
  display: grid;
  justify-content: center;

  // prevent click from selecting container
  -webkit-user-select: none; // safari
  -ms-user-select: none; // ie
  user-select: none; // standard

  // standalone images or those in container below
  img {
    border-radius: var(--border-radius-200);
  }

  &__images-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    background: none;
    transform: rotate(1.5deg);
    @media screen and (max-width: 850px) {
      transform: rotate(0deg);
    }
    border-radius: var(--border-radius-200);
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    img {
      scroll-snap-align: start;
      border: 2px solid black;
      object-fit: cover;
      width: auto;
      height:100%;
      display: block;
      margin: 0 auto;
      //transition: opacity 0.5s ease-in-out;
      transition: transform 0.5s, filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
      //opacity: 0;
    }
    img:focus {
      outline: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__bottom-buttons {
    --button-size: 0.55rem;

    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, minmax(var(--button-size), 1fr));

    // fixes overflow on small mobile devices
    gap: min(1rem, 2.5vw);

    button {
      // height: var(--button-size);
      aspect-ratio: 1;
      border-radius: 50vw;
      border: 0;
      border: 1px solid black;
      cursor: pointer;
      
      outline: 0;
      background: var(--clr-neutral-700);

      transition: all var(--transition-short) ease-in-out;

      &.currentImage {
        background: var(--clr-primary-100);
      }

      &:hover {
        transform: scale(1.25);
      }

      &:focus-visible {
        outline: 2px solid var(--clr-neutral-200);
      }
    }
  }
}

.cvisible {
  opacity: 1 !important;
  //filter: blur(0);
  z-index: 1;
}
.chidden {
  //opacity: 0.3 !important;
  //filter: blur(5px);
  z-index: 0;
}