//

.blog {
  flex-grow: 1;
  padding-left:60px;
  position: fixed;
  top: 50px;
  height: 96%;
  width: 60%;
  right: -100%;
  overflow-y: scroll;


  padding-top: 20px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 100px;
  z-index: 3;
  // background-image: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));
  background-color: orange;
  transition: all 0.5s ease; /* Add a transition for smooth animation */
  border-radius: 10px 0px 0px 10px;

  &.open {
    right: 0; /* Slide in when the "open" class is applied */
  }

  &__subtitle-message {
    padding-bottom: 20px;
  }
  &__content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: var(--contact-gap);

    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    position: relative;
    margin-bottom: var(--about-gap);
    color: var(--clr-neutral-900);
    text-shadow: 
    -1px 1px 6px var(--clr-neutral-400),
    1px 1px 6px var(--clr-neutral-400);

    &::after {
      content: '';
      position: absolute;
      top: 70%;
      left: 3.5ch;
      width: 3.4ch;
      height: 0.45ch;
      z-index: -1;
      background: teal;
      border: 2px solid #0404045f;
      animation: pulseSkewScale infinite 1s ease-in-out;
    }
  }


  button {
    padding: 1rem 1.5rem;
    margin-inline: auto;
    margin-top: 0.5rem;

    border: 0;
    border-radius: var(--border-radius-100);

    background: var(--clr-primary-200);
    color: white;

    text-transform: uppercase;
    font-weight: var(--fw-bold);
    transform: rotate(0deg);
    transition: transform var(--transition-short) ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(-3deg);
      // outline: 0;
      border-color: black;
      border: 2px;
      transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	    -webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    }
  }

  p {
    color: var(--clr-neutral-200);
    color: black;
    // TODO above is sub header color - set proper variable for light/dark modes
  }
}

.blog-tab {
  position: fixed;
  top: 50%;
  // right: 58%;
  padding: 0;
  margin: 0;
  transform: translateY(-50%) rotate(-90deg);
  border: 2px solid black;
  background-color: orange;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition: right 0.6s ease;
  z-index: 4;
  border-radius: 1em 1em 0px 0px; 
  right: -0.7% !important;
  // &.open {
  //   // right: 1200px;
  //   right: -0.7%;
  // }
}

.blog-container {
  position: relative;
  overflow: hidden;
}

.blog-post-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  box-shadow: var(--box-shadow-full);
  background-color: var(--clr-neutral-100);
  padding: 5px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: var(--border-radius-100);
  filter: grayscale(50%);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: var(--box-shadow-hover);
    background-color: var(--clr-neutral-200);
    filter: grayscale(0%);
  }
}
.post-title {
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  font-size: 20px;
}

.blog-post-image {
  position: relative;
  top: -5%;
  max-width: 200px; 
  margin-right: 25px;
  padding: 0;
  border-radius: 0.625em;
  transition: transform 0.1s ease-out;
  transform: rotate(3deg) scale(1.1)
}
.blog-post-row:hover .blog-post-image {
  transform: scale(1.15) rotate(5deg);
}
.blog-post-image-full {
  max-height: 300px;
  width: 100%;
  margin-right: 20px;
  border-radius: 0.625em;
  object-fit: cover;
}

.blog-post-details {
  flex-grow: 1;
}
.blog-read {
  filter: grayscale(95%);
}

.slide-over {
  position: fixed;
  top: 50px;
  right: -100%; 
  height: 100%;
  width: 55%;
  border-radius: 10px 0px 0px 10px;
  overflow-y:scroll;
  transition: right 0.5s ease;
  z-index: 4;
  // border: 2px solid blue;
  padding-bottom: 120px;
  margin-bottom: 20px;
  background-color: teal;
  // TODO change this to our host
  // SOURCE: https://www.transparenttextures.com/ 
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
}

.slide-over-content {
  padding: 20px;
}

.open {
  right: 0;
}




.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
  margin-top: 5px;
  transform: scale(1) rotate(1.5deg);
}
.projcard-tag::before {
	content: '';
	position: absolute;
	background: teal;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #E0E0E0;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}

.buttonfill {
  background-color: teal !important;
}