//

.blog {
  flex-grow: 1;
  padding-left:60px;
  position: fixed;
  top: 50px;
  height: 100%;
  width: 60%;
  right: -100%;
  overflow-y: scroll;


  padding-top: 20px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 100px;
  z-index: 3;
  // background-image: linear-gradient(var(--clr-about-bg-top), var(--clr-about-bg-bottom));
  background-color: orange;
  transition: all 0.5s ease; /* Add a transition for smooth animation */

  &.open {
    right: 0; /* Slide in when the "open" class is applied */
  }

  &__content {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: var(--contact-gap);

    @media (max-width: 950px) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    opacity: 1;
    // opacity: 0 for animate in
    //border: 1px solid red;

    //transform: translateX(-30%);
    padding-bottom: 5%;
    transition: opacity 1.25s ease-out, transform 0.5s ease-out;

    &.animate-in {
      opacity: 1;
      transform: translateX(0);
    }

    h2 {
      position: relative;
      text-shadow: 
      -1px 1px 6px var(--clr-neutral-400),
      1px 1px 6px var(--clr-neutral-400);
      //text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 6.8ch;
        transform: translateX(-50%);

        width: 25%;
        height: 0.45ch;
        z-index: -1;
        background: var(--clr-primary-100);

        animation: pulseSkewScale infinite 1s ease-in-out;
      }
    }

    h2 {
      color: var(--clr-neutral-800);
      text-align: center;
      margin-bottom: calc(var(--section-vertical-padding) / 16);
    }
  
  }

  

  button {
    padding: 1rem 1.5rem;
    margin-inline: auto;
    margin-top: 0.5rem;

    border: 0;
    border-radius: var(--border-radius-100);

    background: var(--clr-primary-200);
    color: white;

    text-transform: uppercase;
    font-weight: var(--fw-bold);
    transform: rotate(0deg);
    transition: transform var(--transition-short) ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(-3deg);
      // outline: 0;
      border-color: black;
      border: 2px;
      transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
	    -webkit-transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    }
  }

  p {
    color: var(--clr-neutral-200);
    color: black;
    // TODO above is sub header color - set proper variable for light/dark modes
  }
}

.blog-tab {
  position: fixed;
  top: 50%;
  right: 59%;
  padding: 0;
  margin: 0;
  transform: translateY(-50%) rotate(-90deg);
  background-color: #3498db;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: right 0.6s ease;
  z-index: 5;
  &.open {
    // right: 1200px;
    right: -0.6%;
  }
}

.blog-container {
  position: relative;
  overflow: hidden;
}